
.form-container{
  background: #ecf0f3;
  font-family: 'Nunito', sans-serif;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.form-container .title{
  color: #0074D9;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 0 20px;
}

.form-container .form-horizontal .form-group{ margin: 0 0 25px 0; }
.form-container .form-horizontal .form-group label{
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.form-container .form-horizontal .form-control{
  color: #333;
  background: #ecf0f3;
  font-size: 15px;
  height: 50px;
  padding: 20px;
  letter-spacing: 1px;
  border: none;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
  display: inline-block;
  transition: all 0.3s ease 0s;
}


.form-container .form-horizontal .btn{
  color: #000;
  background-color: #0074D9 ;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  padding: 12px 15px 11px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px #fff;
  border: none;
  transition: all 0.5s ease 0s;
}

.card{
/* color: #333;
  background: #ecf0f3;
  font-size: 15px;
  height: 200px;
 
  padding: 20px;
  letter-spacing: 1px;
  border: none;
  
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
 
  transition: all 0.3s ease 0s; */







/* 
display: flex;
justify-content: center;
justify-content: space-evenly;
flex-wrap: wrap;
border-color: #0074D9;
border-style: solid;
margin-top: 30px;
margin-left: 50px;
margin-right: 50px; */
}


.container{
margin-left: 280px;
margin-top: 100px;
}

label{
padding-right: 20px;
}

.boxes{
margin-top: 70px;
margin-left: 20px;
display: inline-flex;

justify-content: space-between;


color: #333;
background: #ecf0f3;
font-size: 15px;
height: 150px;
padding: 20px;

border: none;
border-radius: 10px;
box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px #fff;
display: inline-block;
transition: all 0.3s ease 0s;


}